@media screen and (max-width: 1250px) {
    body {}

    .box {
        flex-direction: column;
    }


    .secondSection.vertical {
        height: unset;
    }

    .vertical-title,
    .vertical-desc {
        left: 3rem;
    }


    .secondSection .box {
        width: 50vw;
        align-items: center;
    }

    nav {
        flex-direction: column;
    }

    #footer-bar {
        display: none;
    }

    footer {
        display: none;
    }


    .firstSection {
        flex-direction: column-reverse;
    }

    .leftSection {
        width: 100%;
        !important display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rightSection {
        width: 721px;
        !important
    }
}