* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(180, 180, 180);
    font-size: 1.01rem;
}

main hr {
    border: 0;
    background-color: #b4b4b4;
    height: 1.2px;
    margin: 60px 84px;
}

.left {
    display: flex;
    justify-content: space-between;
    width: 11rem;
}

nav .left img {
    display: flex;
    align-items: center;
    height: 2rem;
    width: 2rem;
}

nav .left .nav-name {
    font-size: 1.5rem
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 90px 0;
}

.firstSection>div {
    width: 40%;
}

.leftSection {
    font-size: 3rem;
}

.leftSection .buttons {
    padding: 50px 0;
}

.leftSection .btn {
    padding: 12px;
    background-color: rgb(100, 100, 100);
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.leftSection .btn:hover {
    background-color: #b4b4b4;
}

.rightSection img {
    width: 80%;
}

.purple {
    color: rgb(180, 180, 180);
}

.text-gray {
    color: gray;
}

#element {
    color: rgb(180, 180, 180);
}

section.secondSection {
    display: flex;
    justify-content: space-around;
    height: auto;
}

section.secondSection .intro h1{
    font-size: 1.9rem;
    display: flex;
    justify-content: start;
    margin-top: 3rem;
}

section.secondSection .intro p {
    display: block;
    align-items: center;
    justify-content: flex-end;
    width: 35rem;
    font-size: 1rem;
    margin-top: 2rem;
}

section.secondSection img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin-left: 7rem;
}

.thirdSection {
    max-width: 80vw;
    margin: auto;
    margin-bottom: -10rem;
    height: 80vh;
}

.thirdSection h1 {
    font-size: 1.9rem;
}

.thirdSection .box {
    background-color: white;
    width: 78vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.thirdSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;
}

footer {
    background-color: black;
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
}

.footer>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 223px;
    padding: 1.5rem;
}

footer .footer .footer-second {
    width: auto;

}

footer .sub-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}